.comments {
	width: 100%;
	height: 150px;
	border: none; 
	background-color: #f4f4f4;
	// margin: 8px;

}

.comments-container {
	display: flex;
	flex-direction: column;
}

.comments-container h3 {
	text-align: center;

}

