/*----- INDEX FOR FONTS -----*/



@import url("https://use.typekit.net/sil3jbq.css");

$body-font: "freight-sans-pro, sans-serif";
$headers-font: 'objektiv-mk1, sans-serif';
$accent-font: "roboto-mono, monospace;";

